.container {
    margin-top: 20px;
}

.iconContainer:hover {
  display: inline-block;
  cursor: pointer !important;
}

.cellRow {
    display: flex;
}

.cellDay {
    text-align: right !important;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex: 1 0 50%;
    min-height: 60px;
}
