@import './variables';
@import './mixins';
@import './fonts';
@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: fantasy !important;
  background-color: #bcc9c9;
  background-image: linear-gradient(to bottom, #99a3a2 0%, #bcc9c9 50%, #99a3a2 75%);
  background-repeat: no-repeat;
}

.dropdown-menu {
  background: rgba(255, 255, 255, 0.3) !important;
}

.dropdown-menu > a > a {
  color: black !important;
  text-decoration: none !important;
}

a#user-dropdown.dropdown-toggle.nav-link::after {
  display: none !important;
}
