.ods_raidplanner_raidcard-content {
    display: inline-block;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 8px;
}

.ods_raidplanner_raidcard-content > span {
    display: block;
    vertical-align: top;
    text-align: left;
}
