.ods_raidplanner_raidgrid-container {
    margin-top: 30px;
}

.ods_raidplanner_raidgrid-summary-column {
    display: flex;
    align-items: center;
}

.ods_raidplanner_raidgrid-summary-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ods_raidplanner_raidgrid-event {
    padding: 10px;
    text-align: center;
}

.ods_raidplanner_raidgrid-event-content {
    display: inline-block;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 8px;
}

.ods_raidplanner_raidgrid-event-content > span {
    display: block;
    vertical-align: top;
    text-align: left;
}

/*img {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/
