.ods_raidplanner_navbar,
.dropdown-menu {
    background: rgba(255, 255, 255, 0.3) !important;
}

.dropdown-menu > a > a {
    color: black !important;
    text-decoration: none !important;
}

.ods_raidplanner_navbar-links {
    margin-top: 10px;
}

.ods_raidplanner_navbar-user-username {
    margin-top: 20px;
}

.ods_raidplanner_navbar-user-dropdown > a.dropdown-toggle::after {
    display: none;
}

