<!DOCTYPE html>
<html>
  <head>
    <title>RaidPlanner App</title>
    <link rel='stylesheet' href="/static/style/index.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/react-day-picker/lib/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
  <script src="/static/index.js"></script>
    <header> <%- header %> </header>
    <content id="content"> <%- content %> </content>
    <footer> <%- footer %></footer>
  </body>
</html>
