@import "Header.css";
@import "Footer.css";
@import "ContentTitle.css";
@import "GroupCard.css";
@import "RaidGrid.css";
@import "RaidCalendar.css";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: fantasy !important;
    background-image: url(../images/background.jpg) !important;
    background-size: cover;
    background-repeat: repeat-y;
}

content {
    flex: 100%;
}