@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "../components/RaidsCalendar/RaidCalendar.css";
@import "../components/RaidsGrid/RaidsGrid.css";
@import "../components/Header/Header.css";
@import "../components/Footer/Footer.css";
@import "../components/ContentTitle/ContentTitle.css";
@import "../components/Login/Login.css";
@import "../components/Loading/Loading.css";
@import "../components/NavBar/NavBar.css";


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: fantasy !important;
    background-image: url("../images/background.jpg") !important;
    background-size: cover;
    background-repeat: repeat-y;
}

content {
    flex: 100%;
    min-height: 100%;
}
