.navbar {
  background: rgba(255, 255, 255, 0.3) !important;
  display: inline-block;
}

.dropdown-menu > a > a {
    color: black !important;
    text-decoration: none !important;
}

.links {
    margin-top: 10px;
}

.userUsername {
    margin-top: 20px;
}

