.container {
    margin-top: 30px;
}

.summaryColumn {
    display: flex;
    align-items: center;
}

.summaryContent {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raidgridEvent {
    padding: 10px;
    text-align: center;
}
